<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YFB</title>
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h2>Signup</h2>
        <form autocomplete="off">
            <label for="name">
                Full name: <input type="text" name="name" id="name">
            </label>
            <div class="name-error error">

            </div>
            <label for="email">
                Email: <input type="text" name="email" id="email">
            </label>
            <div class="email-error error">

            </div>
            <label for="mobile-number">
                Mobile number: <input type="text" name="mobileNumber" id="mobile-number">
            </label>
            <div class="mobile-number-error error">

            </div>
            <label for="address">
                Address: <textarea name="address" id="address" cols="30" rows="10"></textarea>
            </label>
            <div class="address-error error">
                
            </div>
            <label for="password">
                Password: <input type="password" name="password" id="password">
            </label>
            <div class="password-error error">
                
            </div>
            <button>Signup</button>
            <a href="/login">
                Already have an account?
            </a>
        </form>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/scripts/signup.js"></script>
</body>
</html>