@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Varela Round', sans-serif;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

form > h2 {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

form > label {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

label.special {
    justify-content: flex-start;
}

label.special::after {
    content: '';
    flex-grow: 1;
}

.currency-sign {
    order: 1;
}

form input {
    font-family: inherit;
    order: 1;
}

form select {
    font-family: inherit;
    order: 1;
}

form > button {
    align-self: center;
    font-family: inherit;
}

/* All products */
.product {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.product > .name {
    margin: 3px 0;
    display: flex;
    align-items: center;
}

.product > .name::after {
    content: '';
    flex-grow: 1;
}

.delete,
.update {
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    margin: 0 5px;
    order: 1;
}

.delete {
    color: red;
    border-color: red;
    margin-right: 0;
}

.update {
    color: blue;
    border-color: blue;
}

.update:active {
    background-color: blue;
    color: white;
}

.delete:active {
    background-color: red;
    color: white;
}

.update:focus,
.delete:focus {
    outline: none;
}