@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Varela Round', sans-serif;
}

input,
textarea,
button {
    font-family: inherit;
}

button {
    cursor: pointer;
}

/* Form */
form {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form > * {
    margin: 5px 0;
}

form > label {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
}

form > button {
    align-self: center;
}

/* Cart */
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}