@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Varela Round', sans-serif;
}

input,
textarea,
button {
    font-family: inherit;
}

button {
    cursor: pointer;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > h1 {
    margin: 10px 0;
}

header > nav {
    align-self: flex-end;
}

/* Footer */
footer {
    text-align: center;
}